@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montlight';
    src: url('../public/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montbold';
    src: url('../public/Montserrat-Bold.ttf');
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #0a0a0a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    cursor: none;
    background: #0a0a0a;
    font-family: 'Montlight';
    overflow-x: hidden;
}

.text {
    z-index: 1000;
}

#magicPointer {
    transform: matrix(1, 0, 0, 1, 878, 395) translate3d(-50%, -50%, 0px);
    z-index: 1000000000000000;
}

#magicMouseCursor {
    transform: matrix(2, 0, 0, 1, 852, 231);
    background-color: rgba(233, 233, 233, 0.423);
    transition: width 0.2s, height 0.2s;
}

.container {
    background-color: #414141;
}

@keyframes bounce {

    0%,
    100% {
        translate: 0px 36px;
    }

    50% {
        translate: 0px 46px;
    }
}

@keyframes bounce2 {

    0%,
    100% {
        translate: 0px 46px;
    }

    50% {
        translate: 0px 56px;
    }
}

@keyframes umbral {
    0% {
        stop-color: #d3a5102e;
    }

    50% {
        stop-color: rgba(211, 165, 16, 0.519);
    }

    100% {
        stop-color: #d3a5102e;
    }
}

@keyframes partcile {

    0%,
    100% {
        translate: 0px 16px;
    }

    50% {
        translate: 0px 6px;
    }
}

#particle {
    animation: partciles 4s ease-in-out infinite;
}

#animatedStop {
    animation: umbral 4s infinite;
}

#bounce {
    animation: bounce 4s ease-in-out infinite;
    translate: 0px 36px;
}

#bounce2 {
    animation: bounce2 4s ease-in-out infinite;
    translate: 0px 46px;
    animation-delay: 0.5s;
}

.bimg {
    border-style: solid;
    border-bottom: 0;
    border-image: fill 0 linear-gradient(#0a0a0a30, #0a0a0a);
    background: url('./assets/mount.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    /* box-shadow: inset 0 0px 40px rgba(0, 0, 0, .1); */
}

#particles {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}

.bimg::before {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.spac {
    opacity: 0;
    display: none;
    padding: 0 10px;
}

.active:hover>.spac {
    opacity: 1;
    display: block;
}

.name {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    font-family: 'MontBold';
}

/* .name .line .word .char {
    text-decoration-color: white;
    text-decoration: underline;
} */

#name {
    color: rgb(221, 221, 221);
    /* font-size: 40px; */
}

#name2 .line .word .char:nth-child(7),
#name .line span:nth-child(2) .word .char:nth-child(1),
#name .line span:nth-child(3) .word .char:nth-child(1),
#name .line span:nth-child(4) .word .char:nth-child(1) {
    color: #ff00ff;
    font-size: 70px;
    text-decoration-color: white;
}

#name .char,
#name2 .char {
    transform: translateY(155px);
    /* transition: transform 1s; */
}

.wh {
    position: relative;
    display: block;
    /* color: transparent; */
    overflow: hidden;
    /* animation: reveal 1s ease-in forwards; */
}

.wh::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transform: scaleX(0); */
    transform-origin: left;
    background-color: white;
    animation: roll .3s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s forwards;
}

@keyframes reveal {
    to {
        color: white;
    }
}

@keyframes roll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(99%);
    }
}




#containerdiv {
    /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
    filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    text-align: center;

    user-select: none;
}

.loth {
    position: relative;
    z-index: 1000;
}

.loth::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    left: 0;
    z-index: -1;
    bottom: 6px;
    /* animation: inc 1s ease-in 1s forwards; */
    background: #800080;
}

@keyframes inc {
    from {
        width: 0%;
    }
}

.hash {
    transition: left .4s ease-out, opacity .1s ease;
    font-weight: bold;
    opacity: 0;
    left: 0;
}

#about,
#contact,
#projects {
    overflow-x: hidden;
}

#about:hover>.heading .hash,
#contact:hover>.heading .hash,
#projects:hover>.heading .hash {
    opacity: 1;
    left: 20px;
}

.marq {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
    color: transparent;
    font-size: 300px;
}


.line {
    position: relative;
}

#skills .line-mask {
    position: absolute;
    top: 0;
    right: -4px;
    background-color: #0a0a0a99;
    /* opacity: 0.75; */
    width: 150%;
    height: 100%;
    z-index: 2;
}

/* .one div{
    position: relative;
    animation: upp 3s linear infinite;
}
@keyframes upp {
    from{
        bottom: 10px;
    }
    to{
        bottom: 100%;
    }
} */

.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 255, 255));
    width: 400px;
    height: 400px;
    animation: spin 1.7s linear infinite;
    text-align: center;
    border-radius: 200px;
    filter: blur(1px);
    box-shadow: 0 -5px 20px 0 rgb(186, 66, 255), 0 5px 20px 0 rgb(0, 255, 255);
    transition: all .4s;
}

.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 400px;
    height: 400px;
    border-radius: 200px;
    transition: all .4s;
    filter: blur(10px);
}

.last:hover>.spinner>.spinner1 {
    background: transparent;
    width: 800px;
    height: 800px;
    border-radius: 400px;
}

.last:hover>.spinner {
    left: -10px;
    width: 800px;
    height: 800px;
    border-radius: 400px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.op {
    opacity: 0;
    transition: all .5s ease-in;
    color: #ff00ff;
}

.prior:hover>.op {
    opacity: 1;
}

#card {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* max-width: 920px; */
    width: calc(100% - 20px);
    z-index: 100;
    margin: 0 auto;
}

.card {
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    flex-grow: 1;
    height: 400px;
    width: 400px;
    position: relative;
    overflow: hidden;
    /* background-color: rgba(255, 255, 255, 0.02); */
    /* background: transparent; */
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card>.card-border {
    position: absolute;
    border-radius: inherit;
    content: '';
    opacity: 0;
    transition: opacity 0.5s;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    /* z-index: 2; */
}

.card>.card-border {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.3), transparent 40%);
    z-index: 10;
}

.card::before {
    background: radial-gradient(900px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.02), transparent 40%);
    z-index: 100;

}

.card>.card-content {
    background-color: rgba(10, 10, 10, 0.95);
    border-radius: inherit;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    margin: 1px;
    position: relative;
    z-index: 500;
}

#card:hover>.card>.card-border {
    opacity: 1;
}

.item-hints {
    --purple: #720c8f;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.item-hints .hint {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-hints .hint-dot {
    z-index: 3;
    /* border: 1px solid #ffe4e4; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-0%, -0%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
    margin: auto;
    display: flex;
    /* font-size: 24px; */
    align-items: center;
    justify-content: center;
    color: white;
}

.item-hints .hint[data-position="1"] .hint-content {
    left: 70%;
}

.item-hints .hint-content {
    /* width: 30px; */
    position: absolute;
    z-index: 5;
    top: -50%;
    height: 25px;
    /* border: 1px solid white; */
    bottom: 0;
    /* padding: 35px 0; */
    opacity: 0;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
}

.item-hints .hint:hover .hint-content {
    position: absolute;
    z-index: 5;
    /* padding: 35px 0; */
    opacity: 1;
    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: #fff;
    visibility: visible;
    pointer-events: none;
}

.item-hints .hint-content::before {
    width: 0px;
    /* bottom: 29px; */
    left: 0;
    content: "";
    background-color: #fff;
    height: 1px;
    bottom: 0;
    position: absolute;
    transition: width 0.4s;
}

.item-hints .hint:hover .hint-content::before {
    width: 100%;
    transition: width 0.4s;
}

.item-hints .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    /* bottom: 29px; */
    /* top: 0; */
    /* bottom: 50%; */
    left: 0;
    width: 10px;
    content: "";
    background-color: #fff;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    /* z-index: -1; */
}

.item-hints .hint:hover .hint-content::after {
    opacity: 1;
    visibility: visible;
}


.projectimg>img {
    filter: url(#noise);
}

.card-content:hover>.projectimg>img {
    animation: pulse .4s ease-in;
}

@keyframes pulse {

    from,
    to {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }
}


.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}
